<?php

// This is an example of how to extend MT\Bundle\MediaBundle\Entity\Image.
// The class name could be something like UserAvatar, CarPhoto, etc.

namespace MT\Bundle\MediaBundle\Entity;

use Doctrine\ORM\Mapping as ORM;

/**
 * @ORM\Entity(repositoryClass="MT\Bundle\MediaBundle\Entity\ImageRepository")
 * @ORM\Table(name="mtmediabundle_sample_image")
 */
class SampleImage extends \MT\Bundle\MediaBundle\Entity\Image
{
    final protected function getAllSizes()
    {
        // Simply return an array of the sizes you want.
        return array('192x114', '90x90');
    }

    /**
     * Optional. Transform the image in any way you want, e.g. add a watermark,
     * rotate it.
     *
     * @param \Imagine\Image\ManipulatorInterface $thumbnail
     * @param integer $size
     * @param \Imagine\Image\ImagineInterface $imagine
     * @return ManipulatorInterface
     */
    protected function postResizeHook(ManipulatorInterface $thumbnail, $size, ImagineInterface $imagine)
    {
        // Do anything to the resized image, e.g. watermark it, rotate it.
        return $thumbnail;
    }
}
